{
    "env": {
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "plugins": ["prettier"],
    "extends": ["plugin:prettier/recommended"],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "prettier/prettier": "error",
          "array-bracket-spacing": "error",
          "comma-spacing": "error",
          "no-const-assign": "error",
          "no-empty": "error",
          "no-eval": "error",
          "no-extra-boolean-cast": "error",
          "prefer-const": "error",
          "sort-imports": "error",
          "sort-vars": "error",
          "max-params": ["error", 4],
          "prefer-destructuring": ["error", {
            "array": false,
            "object": true
          }],
          "no-console": ["warn", { "allow": ["error"]}]
    }
}